#photo,
#greatings,
#password {
  border: 1px solid #AAA;
  border-radius: 5px;
  font-size: 50px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}

#photo {
  min-height: 300px;
  width: 500px;
}

#photo img {
	width: 500px;
	vertical-align: middle;
}

#greatings, #password {
  min-height: 1em;
  line-height: 1em;
  padding: 5px;
  width: 790px;
  word-break: break-word;
}

#password.active {
	border: 3px solid #080;
}
